<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:#008000;
            color:yellowgreen
        }
        .cool{
            background-color: #adff2f;
            color:red;
            border-radius: 10px;
        }

    </style>
</head>
<body>
    <a href="/ok">datas</a>
    <h1 style="margin-left: 40%;">Users Data</h1>
    <form action="/create" style=" flex-wrap:wrap" method="Post">
        <input class="cool" style="margin-left: 5%; height:40px" type="text" name="name" placeholder="What is your good name">
        <input class="cool" style="margin-left: 5%; height:40px" type="text" name="email" placeholder="fill your email">
        <input class="cool" style="margin-left: 5%; height:40px"  type="text" name="salary" placeholder="put your salary">
        <input class="cool" style="margin-left: 5%; height:40px" type="text" name="language" placeholder="write your preffered language">
        <button  style="height:14%; width:7%; background-color: #adff2f; margin-left: 5%; box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5);">Submit</button>
    </form>
</body>
</html>